<div class="container">
    <div class="header">
        <h1><a href="/">UniCalendar - {{uniname}}</a></h1>
        <h5>Seleziona solo i corsi che intendi inserire nel tuo calendario</h5>
    </div>
    {{{list}}}
</div>