<div class="container">
    <div class="header">
        <h1>Unibo Calendar</h1>
        <h5>Seleziona solo i corsi che intendi inserire nel tuo calendario</h5>
    </div>
    <div class="container">
        {{{list}}}
    </div>
</div>

<script>
    var timetable_url = "{{{timetable_url}}}";
    var year = {{{ year }}};
</script>