<div class="container">
    <div class="header">
        <h1><a href="/">Unibo Calendar</a></h1>
        <h5>Seleziona solo i corsi che intendi inserire nel tuo calendario</h5>
    </div>
    {{{list}}}
    <div class="alert alert-info">
        Proseguendo accetti che vengano memorizzati i seguenti elementi:
        <ul>
            <li>Una tantum:
                <ul>
                    <li>Quando hai generato il calendario (analisi del traffico)</li>
                    <li>Che browser hai utilizzato (analisi del traffico)</li>
                    <li>L'ateneo, il corso di laurea e gli insegnamenti per i quali stai richiedendo il calendario
                        (necessarii per l'erogazione del servizio)</li>
                </ul>
            </li>
            <li>Ogni volta che il tuo dispositivo aggiorna il calendario (questi dati non sono collegati a te):
                <ul>
                    <li>Quando è stato richiesto l'aggiornamento (analisi del traffico e prevenzione di usi illeciti)
                    </li>
                    <li>Che programma ha richiesto l'aggiornamento (analisi del traffico e prevenzione di usi illeciti)
                    </li>
                    <li>Il tuo fornitore di rete (analisi del traffico e prevenzione di usi illeciti)</li>
                </ul>
            </li>
        </ul>
    </div>
</div>