<h1 style="padding: 5%;">Unibo Calendar</h1>
<form id="form_calendar" action="/course" method="post">
  <input type="text" id="url" name="url" placeholder="URL dell'orario del corso"><br>
  <input type="text" id="year" name="year" placeholder="anno (ex. 2)"><br>
  <input type="submit" value="Ottieni URL">
</form>