<div class="container">
    <div class="header">
        <h1>Unibo Calendar</h1>
        <h5>Nella tua applicazione Calendario premi "File" --> "Aggiungi nuova iscrizione a calendario" e inserisci questo link:</h5>
    </div>
    <!-- The text field -->
    <input type="text" value="{{{url}}}" id="url" size="100">

    <!-- The button used to copy the text -->
    <button onclick="copy()" class="btn btn-primary">Copia</button>
</div>