<div class="container">
    <div class="calendar-box-left">
        <p>Aggiungi a Google</p>
        <a href="https://calendar.google.com/calendar/u/0/r?cid={{{url}}}" target="_blank"><img src="media/google.png"></img></a>
    </div>
    <div class="calendar-box-right">
        <p>Aggiungi ad Apple</p>
        <a href="{{{url}}}" target="_blank"><img src="media/apple.png"></img></a>
    </div>
</div>