<div class="container">
    <div class="header">
        <h1>Unibo Calendar</h1>
        <h2>Configura i tuoi dispositivi e servizi</h2>
        <h5>Segui le istruzioni per aggiungere i calendari ai tuoi dispositivi</h5></br>
        <h3>Google Calendar</h3>
        <ul>
            <li><a href="https://support.google.com/calendar/answer/37100?hl=it&co=GENIE.Platform%3DDesktop&oco=0" target="_blank">Istruzioni
                    del supporto Google</a></li>
            <li><a href="https://support.google.com/calendar/answer/37100?hl=it&co=GENIE.Platform%3DAndroid&oco=0" target="_blank">Sincronizza calendari sul telefono</a></li>
        </ul>
        <h3>iOS e macOS</h3>
        <ul>
            <li><a href="https://support.apple.com/it-it/HT202361" target="_blank">Aggiungere il calendario ad iCloud</a></li>
            <li><a href="https://support.apple.com/it-it/guide/ipad/ipad1b02bf5b/ipados#iPadf36f162d" target="_blank">Aggiungere il
                    calendario a un dispositivo iOS</a></li>
            <li><a href="https://support.apple.com/it-it/guide/calendar/icl1022/mac" target="_blank">Aggiungere il calendario a
                    macOS</a></li>
        </ul>
    </div>
    <div class="input-group mb-3">
        <input type="text" id="url" class="form-control" value="{{{url}}}">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" onclick="copy()">Copia</button>
        </div>
    </div>
</div>