<div class="container">
    <div class="header">
        <h1>UniBO Calendar</h1>
        <h2>Configura i tuoi dispositivi e servizi</h2>
        <p>Segui le istruzioni per aggiungere i calendari ai tuoi dispositivi</p>
        <h3>Google Calendar</h3>
        <ul>
            <li><a href="https://support.google.com/calendar/answer/37100?hl=en&co=GENIE.Platform%3DDesktop&oco=0">Istruzioni
                    del supporto Google</a></li>
        </ul>
        <h3>iOS e macOS</h3>
        <ul>
            <li><a href="https://support.apple.com/it-it/HT202361">Aggiungere il calendario ad iCloud</a></li>
            <li><a href="https://support.apple.com/it-it/guide/ipad/ipad1b02bf5b/ipados#iPadf36f162d">Aggiungere il
                    calendario a un dispositivo iOS</a></li>
            <li><a href="https://support.apple.com/it-it/guide/calendar/icl1022/mac">Aggiungere il calendario a
                    macOS</a></li>
        </ul>
    </div>
    <!-- The text field -->
    <input type="text" value="{{{url}}}" id="url" size="100">

    <!-- The button used to copy the text -->
    <button onclick="copy()" class="btn btn-primary">Copia</button>
</div>