label {
    margin-bottom: 0;
    margin-left: 2%;
    font-weight: normal;
}

table {
    width: 100%;
}

th {
    padding-bottom: 0.8%;
}

.btn {
    margin-bottom: 1.5%;
}

.row {
    width: 100%;
    display: block;
}

input[type="submit"] {
    margin-top: 1%;
}