#url-label {
    padding-right: 1%;
}

#year-label {
    padding-right: 1%;
}

.row {
    margin-bottom: 1%;
}

.btn {
    margin-top: 1%;
}

input[type="text"] {
    border-radius: 4px;
    border: 1px solid lightgray;
    text-indent: 5px;
}

#courses {
    transition: width 0.3s;
    transition-delay: 1s;
}

#courses-loading {
    display: none;
}

#curricula {
    transition: width 0.3s;
}

#curricula-loading {
    opacity: 0;
    transition: left 0.3s;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: auto;
}

#low-connection {
    opacity: 0;
    color: #dc3545;
    transition: opacity 1s;
}