.container {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    display: flex;
}

img {
    width: 5rem;
    height: 5rem;
}

.calendar-box-left {
    text-align: center;
    padding-right: 2rem;
}

.calendar-box-right {
    text-align: center;
    padding-left: 2rem;
}

p {
    font-weight: bold;
}