#info-boxes {
    display: inline-flex;
    padding-top: 1rem;
}

.box {
    width: 50%;
}

#instagram-logo {
    width: 1.5rem;
}

@media (max-aspect-ratio: 1/1) {
    #info-boxes {
        display: inline-block;
    }

    .box {
        width: 100%;
    }
}