.header {
    margin-top: 5%;
    margin-bottom: 3%;
}

footer {
    position: fixed;
    bottom: 2rem;
    left: 10rem;
}

div h1 a {
    color: #212529;
    text-decoration: none;
}

div h1 a:hover {
    color: #212529;
    text-decoration: none;
}

@media (max-aspect-ratio: 1/1) {
    .header h5::after {
        content: "\AFaresti molto prima con il computer...";
        white-space: pre;
        color: #dc3545;
        font-size: initial;
        font-weight: initial;
        animation: blinker 2s linear infinite;
    }
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }