<div class="container" id="main-container">
    <div class="mt-5">
        <h1><img src="calendar.png" alt="Unibo Calendar" style="width: 40px; height: 40px; margin-right: 10px; margin-top: 3px; vertical-align: top;">Unibo Calendar</h1>
        <h6>Seleziona solo i corsi che intendi inserire nel tuo calendario</h6>
    </div>
    <div class="mt-3" id="box">
        {{{list}}}
    </div>
</div>