<div class="container" id="main-container">
  <div class="mt-5">
    <h1>🐝 BeeCal</h1>
    <h6>Vuoi inserire i tuoi appuntamenti universitari nel tuo calendario (iCloud, Google, ecc)?<br>Riempi i campi qui
      sotto per cominciare</h6>
  </div>
  <div class="mt-3" id="box">
    <form id="form_calendar" class="form-group" action="/course" method="post" onchange="checkFormValidity();">
      <div class="mb-3">
        <select id="unis" class="form-select" name="uni" onchange="getAreasGivenUni();">
          <option value="">--- Seleziona Scuola ---</option>
          {{#each unis}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="mb-3 spinner-container">
        <select id="areas" class="form-select" name="area" onchange="getCoursesGivenArea();">
        </select>
        <div class="spinner-border loading-image-invisible" id="areas-loading" role="status"></div>
      </div>
      <div class="mb-3 spinner-container">
        <select id="courses" class="form-select" name="course" onchange="getYearsAndCurriculaGivenCourse();">
        </select>
        <div class="spinner-border loading-image-invisible" id="courses-loading" role="status"></div>
      </div>
      <div class="mb-3">
        <select id="years" class="form-select" name="year">
        </select>
      </div>
      <div class="mb-3 spinner-container">
        <select id="curricula" class="form-select" name="curriculum">
        </select>
        <div class="spinner-border loading-image-invisible" id="curricula-loading" role="status"></div>
      </div>
      <div>
        <input type="submit" id="submit-form-button" class="btn btn-primary d-inline" value="Avanti" disabled>
      </div>
      <div id="low-connection">Connessione debole...</div>
    </form>
  </div>
</div>