<div class="container" id="main-container">
        <div class="mt-5">
            <h1>🐝 BeeCal</h1>
            <h6>Clicca sul calendario che vuoi utilizzare e in un attimo hai finito</h6>
        </div>
        <!--
        <main class="d-flex flex-column justify-content-center mt-3">
        <section id="box">
            <div class="jumbotron">
                <h1>Vuoi configurare le notifiche?</h1>
                <p class="lead">Cliccando il pulsante sotto puoi abilitare le notifiche per il tuo calendario.</p>
                <hr class="my-4">
                <p>
                    Se non fai niente, non ti verrà inviata nessuna notifica prima di ogni lezione, ma le potrai
                    comunque visualizzare sul tuo calendario
                </p>
                <a class="btn btn-primary btn-lg" href="#" onclick="toggle()" role="button">Configura</a>
                <div class="collapse mt-4" id="alertCollapse">
                    <div class="card card-body">
                        <div class="form-group">
                            <label for="alert_mins">Con quanti minuti di anticipo vuoi ricevere un promemoria delle
                                lezioni?</label>
                            <input type="number" min="0" onchange="updateLinks(this)" class="form-control"
                                id="alert_mins">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </main>
        -->
        <section class="d-flex flex-row justify-content-around mt-3" id="box">
            <div class="cal-link">
                <p>Aggiungi a Google</p>
                <a href="https://calendar.google.com/calendar/u/0/r?cid={{{url}}}" target="_blank"><img
                        src="media/google.png" class="d-block m-auto"></img></a>
            </div>
            <div class="cal-link">
                <p>Aggiungi ad Apple</p>
                <a href="{{{url}}}" target="_blank"><img src="media/apple.png" class="d-block m-auto"></img></a>
            </div>
        </section>
</div>
