#low-connection {
    color: red;
    display: none;
}

.spinner-container {
    display: flex;
    align-items: center;
    /* Regola l'allineamento verticale se necessario */
}

.custom-select-invisible {
    width: 100%;
}

.loading-image-invisible {
    display: none;
}

.custom-select-visible {
    width: calc(100% - 40px);
}

.loading-image-visible {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}