#low-connection {
    color: red;
    display: none;
}

#courses-container {
    display: flex;
    align-items: center; /* Regola l'allineamento verticale se necessario */
}
  
#curricula-container {
    display: flex;
    align-items: center; /* Regola l'allineamento verticale se necessario */
}
  
.custom-select-invisible {
    width: 100%;
}

.loading-image-invisible {
    display: none;
}

.custom-select-visible {
    width: calc(100% - 40px);
}

.loading-image-visible {
    display: inline-block; /* Rendi visibile l'immagine di caricamento e rendilo inline-block */
    margin-left: 8px; /* Personalizza il margine a sinistra se necessario */
    height: 30px;
}

