div h1 a {
    color: #212529;
    text-decoration: none;
}

div h1 a:hover {
    color: #212529;
    text-decoration: none;
}

#box {
    /*background-color: #ffffff;*/
    padding: 20px;
    border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    #box {
        background-color: #212529;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    }
    body {
        background-color: #111;
    }
}

@media (prefers-color-scheme: light) {
    #box {
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    body {
        background-color: #f8f9fa;
    }
}