div h1 a {
    color: #212529;
    text-decoration: none;
}

div h1 a:hover {
    color: #212529;
    text-decoration: none;
}

#box {
    /*background-color: #ffffff;*/
    padding: 20px;
    border-radius: 10px;
    background: none !important;
}

@media (prefers-color-scheme: dark) {
    #box {
        background: none !important;
        box-shadow: none !important;
    }
    body {
        background-color: #111;
    }
}

@media (prefers-color-scheme: light) {
    #box {
        background: none !important;
        box-shadow: none !important;
    }
    body {
        background-color: #f8f9fa;
    }
}